@keyframes sprite {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -50px 0;
  }
}

.page {
  padding: 0 1rem 1rem;

  &-logo {
    display: block;
    margin: 0 auto 1rem;
    height: 50px;
    width: 50px;
    background-image: url(../img/sprite.png);
    border-radius: 50%;
    background-color: white;
    box-shadow:inset 5px 5px 15px -5px rgba(0, 0, 0, .3);
    opacity: .75;

    &.animate {
      animation: sprite .5s steps(2, jump-none) 0s infinite;
    }
  }

  &-header {
    padding-top: 1rem;
    text-align: center;
    position: sticky;
    z-index: 5;
    top: 0;
    background-color: var(--color-back);
    border-bottom: 1px solid var(--color-border);
  }

  &-footer {
    text-align: center;
    padding: 2rem 0;
    background-color: rgba(0, 0, 0, .05);
    color: var(--color-light);
    margin-top: 4rem;
  }
}