.segment {
  text-align: center;

  &-title {
    font-weight: bold;
    font-size: 3em;
  }

  &-audio {
    display: block;
    margin: 2rem auto;
  }

  &-cover {
    box-shadow: 0 60px 60px -30px rgba(0, 0, 0, .2), 0 20px 20px -10px rgba(0, 0, 0, .4);
  }

  &::before {
    content: "";
    display: block;
    width: 1px;
    background-color: var(--color-light);
    height: 8rem;
    margin: 0 auto 4rem;
  }

  &::after {
    content: "";
    display: block;
    width: 1px;
    background-color: var(--color-light);
    height: 50vh;
    margin: 4rem auto 0;
  }

  &:nth-child(2)::before {
    margin-top: 0;
  }

  &-list {
    max-width: 50em;
    margin: 2rem auto;
    max-height: 20em;
    overflow-y: auto;
    border: 1px solid var(--color-border);
    box-shadow: 0 60px 60px -30px rgba(0, 0, 0, .1), 0 20px 20px -10px rgba(0, 0, 0, .2);
  }

  &-item {
    border-bottom: 1px solid var(--color-border);
    padding: 2rem;
  }
}